<%- include('partials/loggedin'); -%>


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Karla&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">
<style>
* {
  box-sizing: border-box;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 95%;
  margin: 0 auto;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}

  </style>
</head>
<body>
<div style="box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);padding:20px;background-color: rgba(0,0,0,0.7);color: white;" class="container-fluid">
<form class="form-inline" style="padding:20px;">
  <div class="form-group mb-2">
    <label for="id">ID&nbsp; &nbsp;</label>
    <input type="number" class="form-control" id="id" placeholder="Enter ID" required>
  </div>&nbsp; &nbsp;
  <div class="form-group mx-sm-3 mb-2">
    <label for="name">Name&nbsp; &nbsp;</label>
    <input type="name" class="form-control" id="name" placeholder="Enter Name" required>
  </div>&nbsp;&nbsp;
  <div class="form-group mx-sm-3 mb-2">
    <label for="dose1">Dose 1&nbsp; &nbsp;</label>
    <input type="date" class="form-control" id="dose1">
  </div>&nbsp;&nbsp;
  <div class="form-group mx-sm-3 mb-2">
    <label for="dose2">Dose 2&nbsp; &nbsp;</label>
    <input type="date" class="form-control" id="dose2">
  </div>
  &nbsp; &nbsp;
  <button type="submit" class="form-control btn btn-primary mx-sm-3 mb-3">Update</button>
</form></div>
<br><br>
<h1 style="text-align: center; font-family:Times New Roman;font-size: 40px">List of Registered Persons for</h1><br>

 <label for="myInput" style="padding-left:20px;padding-top:10px;font-size: 20px;font-family: 'Karla', sans-serif;">To Update the Information of the Person in the above Form first Search for the Person to check if he/she is registered for vaccination.</label>

<div class="float-right" style="padding-right: 30px">

<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search Name"></div><br><br>

<table id="myTable" style="font-family: gadugi;text-align: center">
  <tr class="header" style="background-color:rgb(60,179,113);color: white;">
    <th style="width:7%;">ID</th>
    <th style="width:15%;">Person Name</th>
    <th style="width:10%;">Gender</th>
    <th style="width:20%;">Contact No</th>
    <th style="width:18%;">Dose-1 Date</th>
    <th style="width:18%;">Dose-2 Date</th>
  </tr>

  <% for(i=0; i<patient_details.length; i++) { %>
  <tr>
    <td><%= patient_details[i].P_id %></td>
    <td><%= patient_details[i].P_name %></td>
    <td><%= patient_details[i].P_Gender %></td>
    <td><%= patient_details[i].P_contactno %></td>
    <% if(patient_details[i].Date_first===null)patient_details[i].Date_first='N/A' %>
    <td><%= patient_details[i].Date_first %></td>
   <% if(patient_details[i].Date_second===null)patient_details[i].Date_second='N/A' %>
    <td><%= patient_details[i].Date_second %></td>
  </tr>
<%  } %>
</table>

<script type="text/javascript" src="js/search.js"></script>

<%- include('partials/footer'); -%>