<%- include('partials/loggedin'); -%>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Italiana&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold" style="color:#2F4F4F;font-family: 'Italiana', serif;letter-spacing: 2px;text-shadow:5px 5px 15px rgba(0, 0, 0, 0.1)";><%= user.H_name %></h1><hr>
    <div class="row">
      <div class="col-md-8">
        <b><h5 style="font-family: 'Montserrat', sans-serif;">Hospital Type : <span style="color: rgb(74, 135, 60);"><%= user.H_type %></span></h5>
        <h5 style="font-family: 'Montserrat', sans-serif;">Vaccine Provided : <span style="color: rgb(74, 135, 60);"><%= user.H_vac %></span></h5>
        <h5 style="font-family: 'Montserrat', sans-serif;">Hospital Email : <span style="color: rgb(74, 135, 60);"><%= user.H_email %></span></h5>
        <h5 style="font-family: 'Montserrat', sans-serif;">Hospital Contact : <span style="color: rgb(74, 135, 60);"><%= user.H_contactno %></span></h5></b>
        <div class="mb-4">
                <hr style="border-top: 7px solid rgba(204,229,255,0.9);">
            </div>
        <p class="text-left">Using a series of utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.</p>
        <button class="btn btn-info btn-lg" type="button" style="margin-top: 2vmin;margin-bottom: 2vmin;">Add Patient Data</button>
      </div>
      <div class="col-md-4">
        <img src="images/hpital.jpg" class="img-fluid">
      </div> 
    </div>
    
  </div>
</div>

<div class="row container-fluid">
      <div class="col-md-7">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h2 style="margin-bottom: 20px;">Latest Inventory Order</h2>
          <hr style="width: 90%; height: 2.5px;">
          <p><b>Id: </b> <%= invent_details.I_id %></p>
          <p><b>Name: </b> <%= invent_details.I_name %></p>
          <p><b>Contact No:</b> <%= invent_details.I_contactno %></p>
          <p><b>Pincode:</b> <%= invent_details.I_address %></p>
          <p><b>Vaccines ordered:</b> <%= invent_details.s_quantity %></p>
          <p><b>Order Date:</b> <%= invent_details.s_time %></p>
        </div>
      </div>
      <div class="col-md-5">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>Add borders</h2>
          <p>Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing of both column's content for equal-height.</p>
          <button class="btn btn-outline-secondary" type="button">Example button</button>
        </div>
      </div>
    </div>

</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Copyright @ Viyond</p>
  </div>
</div>
</body>
</html>