<%- include('partials/loggedin'); -%>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Italiana&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold" style="color:#2F4F4F;font-family: 'Italiana', serif;letter-spacing: 2px;text-shadow:5px 5px 5px rgba(0, 0, 0, 0.1)";><%= user.H_name %></h1><hr>
    <div class="row">
      <div class="col-md-8">
        <b><h5 style="font-family: 'Montserrat', sans-serif;"><b>Hospital Type : <span style="color: rgb(74, 135, 60);background-color: white;padding-left: 10px;padding-right: 10px;"><%= user.H_type %></span></b></h5>
        <h5 style="font-family: 'Montserrat', sans-serif;"><b>Vaccine Provided : <span style="color: rgb(74, 135, 60);background-color: white;padding-left: 10px;padding-right: 10px;"><%= user.H_vac %></span></b></h5>
        <h5 style="font-family: 'Montserrat', sans-serif;"><b>Hospital Email : <span style="color: rgb(74, 135, 60);background-color: white;padding-left: 10px;padding-right: 10px;"><%= user.H_email %></span></b></h5>
        <h5 style="font-family: 'Montserrat', sans-serif;"><b>Hospital Contact : <span style="color: rgb(74, 135, 60);background-color: white;padding-left: 10px;padding-right: 10px;"><%= user.H_contactno %></span></b></h5></b>
        <div class="mb-4">
                <hr style="border-top: 7px solid rgba(204,229,255,0.9);">
            </div>
        <p class="text-left">We hereby provide the best services to the citizens of our country. Our services are up to the mark and our hospital data is regularly reported to Viyond to keep trach of all changes and information. We have tie ups with various inventories and we are ever expanding our contacts to fifferent inventories in the country.</p>
        
      </div>
      <div class="col-md-4">
        <img src="images/hpital.jpg" class="img-fluid" style="border:7px solid white;box-shadow: 10px 10px 5px #aaaaaa;">
      </div> 
    </div>
    
  </div>
</div>

<div class="row container-fluid">
      <div class="col-md-7">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h2 style="margin-bottom: 20px;">Latest Inventory Order</h2>
          <hr style="width: 90%; height: 2.5px;">
          <% if(invent_details==undefined){ %>
          <p>No Recent Inventory Transactions</p>
        <% } else {%>
          <p><b>Id: </b> <%= invent_details.I_id %></p>
          <p><b>Name: </b> <%= invent_details.I_name %></p>
          <p><b>Contact No:</b> <%= invent_details.I_contactno %></p>
          <p><b>Pincode:</b> <%= invent_details.I_address %></p>
          <p><b>Vaccines ordered:</b> <%= invent_details.s_quantity %></p>
          <p><b>Order Date:</b> <%= invent_details.s_time %></p> 
          <% } %>
        </div>
      </div>
      <div class="col-md-5">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>Vaccine Provided By Your Hospital Till Now</h2><br>
          <h1><span style="color: green;background-color: white;padding: 10px 50px 10px 40px;border:2px solid rgba(0,0,0,0.5);">+23</span></h1><br>
          <p>We have been successful in providing in these many vaccines to people and we pledge to continue to do so.</p>
        </div>
      </div>
    </div>

</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Copyright @ Viyond</p>
  </div>
</div>
</body>
</html>