<%- include('partials/header'); -%>

<link rel="stylesheet" type="text/css" href="css/view.css">

<% var total = type[0].count + type[1].count; %>
<h3 style="text-align: center;margin-top: 10vmin;">Total No. of patients are : <%= total %> </h3>

<div class="row container mx-auto" style="margin-top: 10vmin;">
  <% if (gender[0]!==undefined){ %>
  <div class=" col-md-4">
  <div class="card bg-light" style="border-radius: 0px;box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);">
    <div class="card-body text-center">
        <h5 class="card-title" style="font-size: 30px;color: black;"><%= gender[0].P_Gender %> Patients</h5><hr>
        <p class="card-text" style="font-weight: 500;font-size: 60px;color: green;"><%= Math.floor(gender[0].percentage *100)/100 %>%</p>
      <p style="font-size: 22px;color: grey;">Total count: <%= gender[0].count %></p>
    </div>
  </div>
</div>
  <% } %>
  <% if (gender[1]!==undefined){ %>
  <div class=" col-md-4">
    <div class="card bg-light" style="border-radius: 0px;box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);">
      <div class="card-body text-center">
        <h5 class="card-title" style="font-size: 30px;color: black;"><%= gender[1].P_Gender %> Patients</h5><hr>
        <p class="card-text" style="font-weight: 500;font-size: 60px;color: green;"><%= Math.floor(gender[1].percentage*100)/100 %>%</p>
        <p style="font-size: 22px;color: grey;">Total count: <%= gender[1].count %></p>
      </div>
    </div>
  </div> 
    <% } %>
    <% if (gender[2]!==undefined){ %>
  <div class=" col-md-4">
  <div class="card bg-light" style="border-radius: 0px;box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);">
    <div class="card-body text-center">
      <h5 class="card-title" style="font-size: 30px;color: black;"><%= gender[2].P_Gender %> Patients</h5><hr>
      <p class="card-text" style="font-weight: 500;font-size: 60px;color: green;"><%= Math.floor(gender[2].percentage*100)/100 %>%</p>
      <p style="font-size: 22px;color: grey;">Total count: <%= gender[2].count %></p>
    </div>
  </div>
</div>
<% } %>
</div><br><hr>
 
<div class="card-columns container" style="margin-top: 18vmin;">
  
   <% if (dose!==undefined){ 
    var perc = dose.onedose + dose.twodose + dose.nodose; %>
    <div class="card bg-success">
      <div class="card-body text-center">
        <h5 class="card-title" style="font-size: 30px">Both dose</h5><hr>
        <p class="card-text" style="font-weight: 500;font-size: 60px;"><%= Math.floor(dose.twodose*100/perc * 100)/100 %>%</p>
        <p style="font-size: 22px;">Total count: <%= dose.twodose %> </p>
      </div>
    </div>
  <% } %> 

  <% if (vacc[0]!==undefined){ %>
    <div class="card bg-warning">
      <div class="card-body text-center">
        <h5 class="card-title" style="font-size: 30px"><%= vacc[0].h_vac %></h5><hr>
        <p class="card-text" style="font-weight: 500;font-size: 60px;"><%= Math.floor(vacc[0].percentage *100)/100 %>%</p>
        <p style="font-size: 22px;">Total count: <%= vacc[0].count %> </p>
      </div>
    </div>
  <% } %> 
  <% if (type[0]!==undefined){ %>
  <div class="card bg-primary">
    <div class="card-body text-center">
      <% if( type[0].h_type==='G') type[0].h_type='Government'; %>
      <% if( type[0].h_type==='P') type[0].h_type='Private'; %>
      <h5 class="card-title" style="font-size: 30px"><%= type[0].h_type %> Hospitals</h5><hr>
      <p class="card-text" style="font-weight: 500;font-size: 60px;"><%= Math.floor(type[0].percentage *100)/100 %>%</p>
      <p style="font-size: 22px;">Total count: <%= type[0].count %></p>
    </div>
  </div>
  <% } %> 
  
  <% if (dose!==undefined){ %>
      <div class="card bg-primary">
        <div class="card-body text-center">
          <h5 class="card-title" style="font-size: 30px">One dose</h5><hr>
          <p class="card-text" style="font-weight: 500;font-size: 60px;"><%= Math.floor(dose.onedose*100/perc * 100)/100 %>%</p>
          <p style="font-size: 22px;">Total count: <%= dose.onedose %> </p>
        </div>
      </div>
    <% } %> 
  <% if (vacc[1]!==undefined){ %>
    <div class="card bg-success">
      <div class="card-body text-center">
        <h5 class="card-title" style="font-size: 30px"><%= vacc[1].h_vac %></h5><hr>
        <p class="card-text" style="font-weight: 500;font-size: 60px;"><%= Math.floor(vacc[1].percentage *100)/100 %>%</p>
        <p style="font-size: 22px;">Total count: <%= vacc[1].count %> </p>
      </div>
    </div>
  <% } %>
  <% if (type[1]!==undefined){ %>
    <div class="card bg-danger">
      <div class="card-body text-center">
        <% if( type[1].h_type==='G') type[1].h_type='Government'; %>
        <% if( type[1].h_type==='P') type[1].h_type='Private'; %>
        <h5 class="card-title" style="font-size: 30px"><%= type[1].h_type %> Hospitals</h5><hr>
        <p class="card-text" style="font-weight: 500;font-size: 60px;"><%= Math.floor(type[1].percentage*100)/100 %>%</p>
        <p style="font-size: 22px;">Total count: <%= type[1].count %></p>
      </div>
    </div>
    <% } %>    
  
 <% if (dose!==undefined){ %>
      <div class="card bg-danger">
        <div class="card-body text-center">
          <h5 class="card-title" style="font-size: 30px">No dose</h5><hr>
          <p class="card-text" style="font-weight: 500;font-size: 60px;"><%= Math.floor(dose.nodose*100/perc * 100)/100 %>%</p>
          <p style="font-size: 22px;">Total count: <%= dose.nodose %> </p>
        </div>
      </div>
    <% } %>  
  
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="js/view.js"></script>
<%- include('partials/footer'); -%>
